@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1>Get to Know Joel</h1>

<p>Joel Hilton is passionate about film. He minored in Film Studies at BYU, reviews movies for ClearPlay, and co-hosts a weekly podcast about films and pop culture.</p>

<br />  

<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> - Where Joel performs regularly.</li>
    <li><a href="https://baconsale.com/" target="_blank">Baconsale</a> - Joel's podcast about films and pop culture.</li>
    <li>
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/img/baconsale.jpg" alt="Baconsale" height="300" />
        </a>
    </li>
</ul>